.buttons div,h1,.info{
  text-align: center;
}

#info{
  display: none;
}
.buttons{
  margin-top: 50px;
}
.buttons div{
  margin-top: 30px;
}

@media screen and (orientation: portrait) {
  #content *:not(#info){
    display: none;
  }
  #info{
    display: block;
  }
}

@media screen and (orientation: landscape) {

}
