#photoArea{
  background-color: red;
  width: 280px;
  height:360px;
  margin: 0 auto;
}

.info{
  display: none;
  text-align: center;
  margin-top: 15px;
}

#inputFile{
  margin-top: 80px;
}

#inputSubmit{
  margin-top: 25px;
  text-align: center;
}

#inputFile > input{
  margin: 0 auto;
}

#info{
  display: none;
}

@media screen and (orientation: portrait) {
  #content *:not(#info){
    display: none;
  }
  #info{
    display: block;
  }
}

@media screen and (orientation: landscape) {
