.buttons{
  margin-top: 35px;
}

.buttons > div{
  margin-top: 25px;
  text-align: center;
}

#info{
  display: none;
}

@media screen and (orientation: portrait) {
  #content *:not(#info){
    display: none;
  }
  #info{
    display: block;
  }
}

@media screen and (orientation: landscape) {

}
