.buttons{
  margin-top: 35px;
}

.buttons label{
  width: 16em;
  display: block;
  margin: 0 auto;
  margin-top: 25px;
}

#info{
  display: none;
}

@media screen and (orientation: portrait) {
  #content *:not(#info){
    display: none;
  }
  #info{
    display: block;
  }
}

@media screen and (orientation: landscape) {

}
