#inputName{
  width: 16em;
  margin: 0 auto;
  margin-top: 50px;
}

#inputName > input{
  width: 100%;
}

.button{
  margin-top: 25px;
}
#info{
  display: none;
}

@media screen and (orientation: portrait) {
  #content *:not(#info){
    display: none;
  }
  #info{
    display: block;
  }
}

@media screen and (orientation: landscape) {

}
